In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 15)
pd.set_option('display.max_rows', 12)
pd.set_option('precision', 3)

In [3]:
from pandas_datareader import data as web
import fix_yahoo_finance as yf

yf.pdr_override() # to override pandas_datareader.data.get_data_yahoo() method

In [4]:
start = datetime.datetime(2012, 1, 1)
end = datetime.datetime(2012, 12, 30)

In [27]:
msft = web.get_data_yahoo('MSFT', start=start, end=end)
aapl = web.get_data_yahoo('AAPL', start=start, end=end)

[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded

In [28]:
# save the data to file
msft.to_csv('msft1.csv')
aapl.to_csv('aapl1.csv')

# to load the data from file:
msft = pd.read_csv("msft.csv", index_col=0, parse_dates=True)
aapl = pd.read_csv("aapl.csv", index_col=0, parse_dates=True)

In [29]:
msft.head()

             Open   High    Low  Close  Adj Close    Volume
Date
2012-01-03  26.55  26.96  26.39  26.77     22.689  64731500
2012-01-04  26.82  27.47  26.78  27.40     23.223  80516100
2012-01-05  27.38  27.73  27.29  27.68     23.460  56081400
2012-01-06  27.53  28.19  27.53  28.11     23.824  99455500
2012-01-09  28.05  28.10  27.72  27.74     23.511  59706800

In [7]:
msft[:3]

             Open   High    Low  Close  Adj Close    Volume
Date
2012-01-03  26.55  26.96  26.39  26.77     22.689  64731500
2012-01-04  26.82  27.47  26.78  27.40     23.223  80516100
2012-01-05  27.38  27.73  27.29  27.68     23.460  56081400

### Concatenating DataFrames

In [8]:
msftA01 = msft['2012-01'][['Adj Close']]
msftA02 = msft['2012-02'][['Adj Close']]
msftA01[:3]

            Adj Close
Date
2012-01-03     22.689
2012-01-04     23.223
2012-01-05     23.460

In [9]:
msftA02[:3]

            Adj Close
Date
2012-02-01     25.333
2012-02-02     25.384
2012-02-03     25.630

In [10]:
msftA01.shape

(20, 1)

In [11]:
pd.concat([msftA01, msftA02])

            Adj Close
Date
2012-01-03     22.689
2012-01-04     23.223
2012-01-05     23.460
2012-01-06     23.824
2012-01-09     23.511
2012-01-10     23.596
...               ...
2012-02-22     26.677
2012-02-23     26.762
2012-02-24     26.856
2012-02-27     26.745
2012-02-28     27.189
2012-02-29     27.078

[40 rows x 1 columns]

In [12]:
aaplA01 = aapl['2012-01'][['Adj Close']]
withDups = pd.concat([msftA01[:3], aaplA01[:3]])
withDups

            Adj Close
Date
2012-01-03     22.689
2012-01-04     23.223
2012-01-05     23.460
2012-01-03     39.769
2012-01-04     39.983
2012-01-05     40.427

In [13]:
print(withDups.ix['2012-01-03'])
print(withDups.loc['2012-01-03'])

            Adj Close
Date
2012-01-03     22.689
2012-01-03     39.769
            Adj Close
Date
2012-01-03     22.689
2012-01-03     39.769

C:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [15]:
closes = pd.concat([msftA01[:3], aaplA01[:3]], keys=['MSFT', 'AAPL'])
print(closes)

                 Adj Close
     Date
MSFT 2012-01-03     22.689
     2012-01-04     23.223
     2012-01-05     23.460
AAPL 2012-01-03     39.769
     2012-01-04     39.983
     2012-01-05     40.427

In [16]:
closes.loc(axis=0)[:, '2012-01-03']

# multi-level indexing. More info on https://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced-indexing-with-hierarchical-index

                 Adj Close
     Date
MSFT 2012-01-03     22.689
AAPL 2012-01-03     39.769

In [17]:
closes.index

MultiIndex(levels=[[u'MSFT', u'AAPL'], [2012-01-03 00:00:00, 2012-01-04 00:00:00, 2012-01-05 00:00:00]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]],
           names=[None, u'Date'])

In [20]:
closes.loc['MSFT'][:5]

            Adj Close
Date
2012-01-03     22.689
2012-01-04     23.223
2012-01-05     23.460

In [21]:
msftAV = msft[['Adj Close', 'Volume']]
aaplAV = msft[['Adj Close', 'Volume']]
pd.concat([msftAV, aaplAV])

            Adj Close    Volume
Date
2012-01-03     22.689  64731500
2012-01-04     23.223  80516100
2012-01-05     23.460  56081400
2012-01-06     23.824  99455500
2012-01-09     23.511  59706800
2012-01-10     23.596  60014400
...               ...       ...
2012-12-20     24.123  52607300
2012-12-21     23.923  98776500
2012-12-24     23.583  20842400
2012-12-26     23.409  31631100
2012-12-27     23.496  39394000
2012-12-28     23.139  28239900

[498 rows x 2 columns]

In [22]:
msftAV = msft[['Adj Close', 'Volume']]
aaplAV = msft[['Adj Close', 'Volume']]
pd.concat([msftAV, aaplAV])['2012-01-03']

# duplicated index

            Adj Close    Volume
Date
2012-01-03     22.689  64731500
2012-01-03     22.689  64731500

In [23]:
msftAV = msft[['Adj Close', 'Volume']]
aaplAV = msft[['Adj Close', 'Volume']]
pd.concat([msftAV, aaplAV], keys=['MSFT', 'AAPL'])

# duplicated index

                 Adj Close    Volume
     Date
MSFT 2012-01-03     22.689  64731500
     2012-01-04     23.223  80516100
     2012-01-05     23.460  56081400
     2012-01-06     23.824  99455500
     2012-01-09     23.511  59706800
     2012-01-10     23.596  60014400
...                    ...       ...
AAPL 2012-12-20     24.123  52607300
     2012-12-21     23.923  98776500
     2012-12-24     23.583  20842400
     2012-12-26     23.409  31631100
     2012-12-27     23.496  39394000
     2012-12-28     23.139  28239900

[498 rows x 2 columns]

In [24]:
aaplA = aapl[['Adj Close']]
pd.concat([msftAV, aaplA])

            Adj Close     Volume
Date
2012-01-03     22.689  6.473e+07
2012-01-04     23.223  8.052e+07
2012-01-05     23.460  5.608e+07
2012-01-06     23.824  9.946e+07
2012-01-09     23.511  5.971e+07
2012-01-10     23.596  6.001e+07
...               ...        ...
2012-12-20     53.722        NaN
2012-12-21     53.475        NaN
2012-12-24     53.561        NaN
2012-12-26     52.823        NaN
2012-12-27     53.035        NaN
2012-12-28     52.472        NaN

[498 rows x 2 columns]

In [25]:
pd.concat([msftAV, aaplA], join='inner')

            Adj Close
Date
2012-01-03     22.689
2012-01-04     23.223
2012-01-05     23.460
2012-01-06     23.824
2012-01-09     23.511
2012-01-10     23.596
...               ...
2012-12-20     53.722
2012-12-21     53.475
2012-12-24     53.561
2012-12-26     52.823
2012-12-27     53.035
2012-12-28     52.472

[498 rows x 1 columns]

In [54]:
pd.concat([msftAV, aaplA], join='inner')

            Adj Close
Date
2012-01-03     22.910
2012-01-04     23.449
2012-01-05     23.689
2012-01-06     24.057
...               ...
2012-12-24     67.447
2012-12-26     66.517
2012-12-27     66.785
2012-12-28     66.075

[498 rows x 1 columns]

In [61]:
pd.concat([msftAV, aaplA], axis=1)

            Adj Close    Volume  Adj Close
Date
2012-01-03     22.910  64731500     52.852
2012-01-04     23.449  80516100     53.136
2012-01-05     23.689  56081400     53.726
2012-01-06     24.057  99455500     54.288
...               ...       ...        ...
2012-12-24     23.813  20842400     67.447
2012-12-26     23.637  31631100     66.517
2012-12-27     23.725  39394000     66.785
2012-12-28     23.364  28239900     66.075

[249 rows x 3 columns]

In [62]:
msftA = msft[['Adj Close']]
closes = pd.concat([msftA, aaplA], axis=1)
closes[:3]

            Adj Close  Adj Close
Date
2012-01-03     22.910     52.852
2012-01-04     23.449     53.136
2012-01-05     23.689     53.726

In [72]:
data = pd.concat([msftAV, aaplAV], axis=1, keys=['MSFT', 'AAPl'])
data.head()

                MSFT                AAPl
           Adj Close    Volume Adj Close    Volume
Date
2012-01-03    22.910  64731500    22.910  64731500
2012-01-04    23.449  80516100    23.449  80516100
2012-01-05    23.689  56081400    23.689  56081400
2012-01-06    24.057  99455500    24.057  99455500
2012-01-09    23.740  59706800    23.740  59706800

In [73]:
data.loc['2012-01-03']

MSFT  Adj Close    2.291e+01
      Volume       6.473e+07
AAPl  Adj Close    2.291e+01
      Volume       6.473e+07
Name: 2012-01-03 00:00:00, dtype: float64

In [82]:
data = pd.concat([msftA, aaplA], axis=1, keys=['MSFT', 'AAPl'], join='inner')
data

                MSFT      AAPl
           Adj Close Adj Close
Date
2012-01-03    22.910    52.852
2012-01-04    23.449    53.136
2012-01-05    23.689    53.726
2012-01-06    24.057    54.288
...              ...       ...
2012-12-24    23.813    67.447
2012-12-26    23.637    66.517
2012-12-27    23.725    66.785
2012-12-28    23.364    66.075

[249 rows x 2 columns]

### Merging DataFrame objects

In [89]:
msftAR = msftA.reset_index()
msftVR = msft.Volume.reset_index()

print(msftVR.head())
print(msftAR.head())

        Date    Volume
0 2012-01-03  64731500
1 2012-01-04  80516100
2 2012-01-05  56081400
3 2012-01-06  99455500
4 2012-01-09  59706800
        Date  Adj Close
0 2012-01-03     22.910
1 2012-01-04     23.449
2 2012-01-05     23.689
3 2012-01-06     24.057
4 2012-01-09     23.740

In [93]:
msftCVR = pd.merge(msftAR, msftVR)
msft.head()

             Open   High    Low  Close  Adj Close    Volume
Date
2012-01-03  26.55  26.96  26.39  26.77     22.910  64731500
2012-01-04  26.82  27.47  26.78  27.40     23.449  80516100
2012-01-05  27.38  27.73  27.29  27.68     23.689  56081400
2012-01-06  27.53  28.19  27.53  28.11     24.057  99455500
2012-01-09  28.05  28.10  27.72  27.74     23.740  59706800

In [94]:
msftAR0_5 = msftAR[:5]
msftAR0_5

        Date  Adj Close
0 2012-01-03     22.910
1 2012-01-04     23.449
2 2012-01-05     23.689
3 2012-01-06     24.057
4 2012-01-09     23.740

In [95]:
msftVR2_4 = msftVR[2:4]
msftVR2_4

        Date    Volume
2 2012-01-05  56081400
3 2012-01-06  99455500

In [99]:
pd.merge(msftAR0_5, msftVR2_4, how='inner')

        Date  Adj Close    Volume
0 2012-01-05     23.689  56081400
1 2012-01-06     24.057  99455500

In [100]:
pd.merge(msftAR0_5, msftVR2_4, how='outer')

        Date  Adj Close     Volume
0 2012-01-03     22.910        NaN
1 2012-01-04     23.449        NaN
2 2012-01-05     23.689  5.608e+07
3 2012-01-06     24.057  9.946e+07
4 2012-01-09     23.740        NaN

In [101]:
pd.merge(msftAR0_5, msftVR2_4, how='left')

        Date  Adj Close     Volume
0 2012-01-03     22.910        NaN
1 2012-01-04     23.449        NaN
2 2012-01-05     23.689  5.608e+07
3 2012-01-06     24.057  9.946e+07
4 2012-01-09     23.740        NaN

In [102]:
pd.merge(msftAR0_5, msftVR2_4, how='right')

        Date  Adj Close    Volume
0 2012-01-05     23.689  56081400
1 2012-01-06     24.057  99455500

### Pivoting

In [103]:
msft.insert(0, 'Symbol', 'MSFT')
msft

           Symbol   Open   High    Low  Close  Adj Close    Volume
Date
2012-01-03   MSFT  26.55  26.96  26.39  26.77     22.910  64731500
2012-01-04   MSFT  26.82  27.47  26.78  27.40     23.449  80516100
2012-01-05   MSFT  27.38  27.73  27.29  27.68     23.689  56081400
2012-01-06   MSFT  27.53  28.19  27.53  28.11     24.057  99455500
...           ...    ...    ...    ...    ...        ...       ...
2012-12-24   MSFT  27.20  27.25  27.00  27.06     23.813  20842400
2012-12-26   MSFT  27.03  27.20  26.70  26.86     23.637  31631100
2012-12-27   MSFT  26.89  27.09  26.57  26.96     23.725  39394000
2012-12-28   MSFT  26.71  26.90  26.55  26.55     23.364  28239900

[249 rows x 7 columns]

In [ ]:
aapl.insert(0, 'Symbol', 'AAPL')

In [113]:
combined = pd.concat([msft, aapl])
s4p = combined.sort_index().reset_index()
s4p

          Date Symbol    Open    High     Low   Close  Adj Close     Volume
0   2012-01-03   MSFT  26.550  26.960  26.390  26.770     22.910   64731500
1   2012-01-03   AAPL  58.486  58.929  58.429  58.747     52.852   75555200
2   2012-01-04   MSFT  26.820  27.470  26.780  27.400     23.449   80516100
3   2012-01-04   AAPL  58.571  59.240  58.469  59.063     53.136   65005500
..         ...    ...     ...     ...     ...     ...        ...        ...
494 2012-12-27   AAPL  73.363  73.750  72.094  73.580     66.785  113780100
495 2012-12-27   MSFT  26.890  27.090  26.570  26.960     23.725   39394000
496 2012-12-28   MSFT  26.710  26.900  26.550  26.550     23.364   28239900
497 2012-12-28   AAPL  72.899  73.497  72.589  72.799     66.075   88569600

[498 rows x 8 columns]

In [114]:
closes = s4p.pivot(index='Date', columns='Symbol', values='Adj Close')
closes.head()

Symbol        AAPL    MSFT
Date
2012-01-03  52.852  22.910
2012-01-04  53.136  23.449
2012-01-05  53.726  23.689
2012-01-06  54.288  24.057
2012-01-09  54.202  23.740

### Stacking and unstacking

In [117]:
stackedCloses = closes.stack()
stackedCloses

Date        Symbol
2012-01-03  AAPL      52.852
            MSFT      22.910
2012-01-04  AAPL      53.136
            MSFT      23.449
                       ...
2012-12-27  AAPL      66.785
            MSFT      23.725
2012-12-28  AAPL      66.075
            MSFT      23.364
dtype: float64

In [120]:
stackedCloses.ix['2012-01-03']['AAPL']

52.852215000000001

In [121]:
stackedCloses.ix['2012-01-03', 'AAPL']

52.852215000000001

In [122]:
stackedCloses.unstack()

Symbol        AAPL    MSFT
Date
2012-01-03  52.852  22.910
2012-01-04  53.136  23.449
2012-01-05  53.726  23.689
2012-01-06  54.288  24.057
...            ...     ...
2012-12-24  67.447  23.813
2012-12-26  66.517  23.637
2012-12-27  66.785  23.725
2012-12-28  66.075  23.364

[249 rows x 2 columns]

### Melting

In [144]:
melted = pd.melt(s4p, id_vars=['Date', 'Symbol'])
melted

           Date Symbol variable      value
0    2012-01-03   MSFT     Open  2.655e+01
1    2012-01-03   AAPL     Open  5.849e+01
2    2012-01-04   MSFT     Open  2.682e+01
3    2012-01-04   AAPL     Open  5.857e+01
4    2012-01-05   MSFT     Open  2.738e+01
5    2012-01-05   AAPL     Open  5.928e+01
...         ...    ...      ...        ...
2982 2012-12-26   AAPL   Volume  7.561e+07
2983 2012-12-26   MSFT   Volume  3.163e+07
2984 2012-12-27   AAPL   Volume  1.138e+08
2985 2012-12-27   MSFT   Volume  3.939e+07
2986 2012-12-28   MSFT   Volume  2.824e+07
2987 2012-12-28   AAPL   Volume  8.857e+07

[2988 rows x 4 columns]

In [145]:
melted[melted.Symbol=='AAPL'][:10]

         Date Symbol variable   value
1  2012-01-03   AAPL     Open  58.486
3  2012-01-04   AAPL     Open  58.571
5  2012-01-05   AAPL     Open  59.279
7  2012-01-06   AAPL     Open  59.967
9  2012-01-09   AAPL     Open  60.786
11 2012-01-10   AAPL     Open  60.844
13 2012-01-11   AAPL     Open  60.383
14 2012-01-12   AAPL     Open  60.326
16 2012-01-13   AAPL     Open  59.957
18 2012-01-17   AAPL     Open  60.600

In [146]:
melted[10:20]

         Date Symbol variable   value
10 2012-01-10   MSFT     Open  27.930
11 2012-01-10   AAPL     Open  60.844
12 2012-01-11   MSFT     Open  27.430
13 2012-01-11   AAPL     Open  60.383
14 2012-01-12   AAPL     Open  60.326
15 2012-01-12   MSFT     Open  27.870
16 2012-01-13   AAPL     Open  59.957
17 2012-01-13   MSFT     Open  27.930
18 2012-01-17   AAPL     Open  60.600
19 2012-01-17   MSFT     Open  28.400

In [148]:
melted[(melted.Date=='2012-01-03') & (melted.Symbol=='MSFT')]

           Date Symbol   variable      value
0    2012-01-03   MSFT       Open  2.655e+01
498  2012-01-03   MSFT       High  2.696e+01
996  2012-01-03   MSFT        Low  2.639e+01
1494 2012-01-03   MSFT      Close  2.677e+01
1992 2012-01-03   MSFT  Adj Close  2.291e+01
2490 2012-01-03   MSFT     Volume  6.473e+07

### Grouping and aggregating

In [156]:
combined.head()

           Symbol   Open   High    Low  Close  Adj Close    Volume
Date
2012-01-03   MSFT  26.55  26.96  26.39  26.77     22.910  64731500
2012-01-04   MSFT  26.82  27.47  26.78  27.40     23.449  80516100
2012-01-05   MSFT  27.38  27.73  27.29  27.68     23.689  56081400
2012-01-06   MSFT  27.53  28.19  27.53  28.11     24.057  99455500
2012-01-09   MSFT  28.05  28.10  27.72  27.74     23.740  59706800

In [154]:
s4g = combined[['Symbol', 'Adj Close']].reset_index()
s4g.insert(1, 'Year', pd.DatetimeIndex(s4g.Date).year)
s4g.insert(2, 'Month', pd.DatetimeIndex(s4g.Date).month)
s4g

          Date  Year  Month Symbol  Adj Close
0   2012-01-03  2012      1   MSFT     22.910
1   2012-01-04  2012      1   MSFT     23.449
2   2012-01-05  2012      1   MSFT     23.689
3   2012-01-06  2012      1   MSFT     24.057
4   2012-01-09  2012      1   MSFT     23.740
5   2012-01-10  2012      1   MSFT     23.826
..         ...   ...    ...    ...        ...
492 2012-12-20  2012     12   AAPL     67.649
493 2012-12-21  2012     12   AAPL     67.338
494 2012-12-24  2012     12   AAPL     67.447
495 2012-12-26  2012     12   AAPL     66.517
496 2012-12-27  2012     12   AAPL     66.785
497 2012-12-28  2012     12   AAPL     66.075

[498 rows x 5 columns]

In [159]:
s4g.groupby('Symbol')

In [163]:
grouped = s4g.groupby('Symbol')
grouped.groups

{'AAPL': Int64Index([249, 250, 251, 252, 253, 254, 255, 256, 257, 258,
             ...
             488, 489, 490, 491, 492, 493, 494, 495, 496, 497],
            dtype='int64', length=249),
 'MSFT': Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
             ...
             239, 240, 241, 242, 243, 244, 245, 246, 247, 248],
            dtype='int64', length=249)}

In [165]:
len(grouped), grouped.ngroups

(2, 2)

In [169]:
[(name, group.head) for name, group in grouped]

[('AAPL',
  <bound method DataFrame.head of           Date  Year  Month Symbol  Adj Close
  249 2012-01-03  2012      1   AAPL     52.852
  250 2012-01-04  2012      1   AAPL     53.136
  251 2012-01-05  2012      1   AAPL     53.726
  252 2012-01-06  2012      1   AAPL     54.288
  253 2012-01-09  2012      1   AAPL     54.202
  254 2012-01-10  2012      1   AAPL     54.396
  ..         ...   ...    ...    ...        ...
  492 2012-12-20  2012     12   AAPL     67.649
  493 2012-12-21  2012     12   AAPL     67.338
  494 2012-12-24  2012     12   AAPL     67.447
  495 2012-12-26  2012     12   AAPL     66.517
  496 2012-12-27  2012     12   AAPL     66.785
  497 2012-12-28  2012     12   AAPL     66.075

  [249 rows x 5 columns]>),
 ('MSFT',
  <bound method DataFrame.head of           Date  Year  Month Symbol  Adj Close
  0   2012-01-03  2012      1   MSFT     22.910
  1   2012-01-04  2012      1   MSFT     23.449
  2   2012-01-05  2012      1   MSFT     23.689
  3   2012-01-06  2012      1   MSFT     24.057
  4   2012-01-09  2012      1   MSFT     23.740
  5   2012-01-10  2012      1   MSFT     23.826
  ..         ...   ...    ...    ...        ...
  243 2012-12-20  2012     12   MSFT     24.359
  244 2012-12-21  2012     12   MSFT     24.156
  245 2012-12-24  2012     12   MSFT     23.813
  246 2012-12-26  2012     12   MSFT     23.637
  247 2012-12-27  2012     12   MSFT     23.725
  248 2012-12-28  2012     12   MSFT     23.364

  [249 rows x 5 columns]>)]

In [182]:
def print_groups(group_object):
    for name, group in group_object:
        print(name)
        print(group.head())
        
print_groups(grouped)

AAPL
          Date  Year  Month Symbol  Adj Close
249 2012-01-03  2012      1   AAPL     52.852
250 2012-01-04  2012      1   AAPL     53.136
251 2012-01-05  2012      1   AAPL     53.726
252 2012-01-06  2012      1   AAPL     54.288
253 2012-01-09  2012      1   AAPL     54.202
MSFT
        Date  Year  Month Symbol  Adj Close
0 2012-01-03  2012      1   MSFT     22.910
1 2012-01-04  2012      1   MSFT     23.449
2 2012-01-05  2012      1   MSFT     23.689
3 2012-01-06  2012      1   MSFT     24.057
4 2012-01-09  2012      1   MSFT     23.740

In [172]:
grouped.size()

Symbol
AAPL    249
MSFT    249
dtype: int64

In [173]:
grouped.get_group('MSFT')

          Date  Year  Month Symbol  Adj Close
0   2012-01-03  2012      1   MSFT     22.910
1   2012-01-04  2012      1   MSFT     23.449
2   2012-01-05  2012      1   MSFT     23.689
3   2012-01-06  2012      1   MSFT     24.057
4   2012-01-09  2012      1   MSFT     23.740
5   2012-01-10  2012      1   MSFT     23.826
..         ...   ...    ...    ...        ...
243 2012-12-20  2012     12   MSFT     24.359
244 2012-12-21  2012     12   MSFT     24.156
245 2012-12-24  2012     12   MSFT     23.813
246 2012-12-26  2012     12   MSFT     23.637
247 2012-12-27  2012     12   MSFT     23.725
248 2012-12-28  2012     12   MSFT     23.364

[249 rows x 5 columns]

In [183]:
mcg = s4g.groupby(['Symbol', 'Year', 'Month'])
print_groups(mcg)

('AAPL', 2012, 1)
          Date  Year  Month Symbol  Adj Close
249 2012-01-03  2012      1   AAPL     52.852
250 2012-01-04  2012      1   AAPL     53.136
251 2012-01-05  2012      1   AAPL     53.726
252 2012-01-06  2012      1   AAPL     54.288
253 2012-01-09  2012      1   AAPL     54.202
('AAPL', 2012, 2)
          Date  Year  Month Symbol  Adj Close
269 2012-02-01  2012      2   AAPL     58.631
270 2012-02-02  2012      2   AAPL     58.493
271 2012-02-03  2012      2   AAPL     59.079
272 2012-02-06  2012      2   AAPL     59.630
273 2012-02-07  2012      2   AAPL     60.255
('AAPL', 2012, 3)
          Date  Year  Month Symbol  Adj Close
289 2012-03-01  2012      3   AAPL     69.977
290 2012-03-02  2012      3   AAPL     70.068
291 2012-03-05  2012      3   AAPL     68.523
292 2012-03-06  2012      3   AAPL     68.150
293 2012-03-07  2012      3   AAPL     68.205
('AAPL', 2012, 4)
          Date  Year  Month Symbol  Adj Close
311 2012-04-02  2012      4   AAPL     79.508
312 2012-04-03  2012      4   AAPL     80.882
313 2012-04-04  2012      4   AAPL     80.238
314 2012-04-05  2012      4   AAPL     81.442
315 2012-04-09  2012      4   AAPL     81.770
('AAPL', 2012, 5)
          Date  Year  Month Symbol  Adj Close
331 2012-05-01  2012      5   AAPL     74.817
332 2012-05-02  2012      5   AAPL     75.311
333 2012-05-03  2012      5   AAPL     74.777
334 2012-05-04  2012      5   AAPL     72.647
335 2012-05-07  2012      5   AAPL     73.191
('AAPL', 2012, 6)
          Date  Year  Month Symbol  Adj Close
353 2012-06-01  2012      6   AAPL     72.100
354 2012-06-04  2012      6   AAPL     72.524
355 2012-06-05  2012      6   AAPL     72.336
356 2012-06-06  2012      6   AAPL     73.445
357 2012-06-07  2012      6   AAPL     73.479
('AAPL', 2012, 7)
          Date  Year  Month Symbol  Adj Close
374 2012-07-02  2012      7   AAPL     76.152
375 2012-07-03  2012      7   AAPL     77.038
376 2012-07-05  2012      7   AAPL     78.391
377 2012-07-06  2012      7   AAPL     77.869
378 2012-07-09  2012      7   AAPL     78.899
('AAPL', 2012, 8)
          Date  Year  Month Symbol  Adj Close
395 2012-08-01  2012      8   AAPL     77.989
396 2012-08-02  2012      8   AAPL     78.115
397 2012-08-03  2012      8   AAPL     79.131
398 2012-08-06  2012      8   AAPL     80.012
399 2012-08-07  2012      8   AAPL     79.801
('AAPL', 2012, 9)
          Date  Year  Month Symbol  Adj Close
418 2012-09-04  2012      9   AAPL     87.121
419 2012-09-05  2012      9   AAPL     86.509
420 2012-09-06  2012      9   AAPL     87.289
421 2012-09-07  2012      9   AAPL     87.827
422 2012-09-10  2012      9   AAPL     85.543
('AAPL', 2012, 10)
          Date  Year  Month Symbol  Adj Close
437 2012-10-01  2012     10   AAPL     85.110
438 2012-10-02  2012     10   AAPL     85.358
439 2012-10-03  2012     10   AAPL     86.667
440 2012-10-04  2012     10   AAPL     86.067
441 2012-10-05  2012     10   AAPL     84.232
('AAPL', 2012, 11)
          Date  Year  Month Symbol  Adj Close
458 2012-11-01  2012     11   AAPL     76.998
459 2012-11-02  2012     11   AAPL     74.450
460 2012-11-05  2012     11   AAPL     75.459
461 2012-11-06  2012     11   AAPL     75.231
462 2012-11-07  2012     11   AAPL     72.352
('AAPL', 2012, 12)
          Date  Year  Month Symbol  Adj Close
479 2012-12-03  2012     12   AAPL     76.008
480 2012-12-04  2012     12   AAPL     74.667
481 2012-12-05  2012     12   AAPL     69.861
482 2012-12-06  2012     12   AAPL     70.957
483 2012-12-07  2012     12   AAPL     69.143
('MSFT', 2012, 1)
        Date  Year  Month Symbol  Adj Close
0 2012-01-03  2012      1   MSFT     22.910
1 2012-01-04  2012      1   MSFT     23.449
2 2012-01-05  2012      1   MSFT     23.689
3 2012-01-06  2012      1   MSFT     24.057
4 2012-01-09  2012      1   MSFT     23.740
('MSFT', 2012, 2)
         Date  Year  Month Symbol  Adj Close
20 2012-02-01  2012      2   MSFT     25.580
21 2012-02-02  2012      2   MSFT     25.631
22 2012-02-03  2012      2   MSFT     25.879
23 2012-02-06  2012      2   MSFT     25.845
24 2012-02-07  2012      2   MSFT     25.974
('MSFT', 2012, 3)
         Date  Year  Month Symbol  Adj Close
40 2012-03-01  2012      3   MSFT     27.816
41 2012-03-02  2012      3   MSFT     27.635
42 2012-03-05  2012      3   MSFT     27.394
43 2012-03-06  2012      3   MSFT     27.187
44 2012-03-07  2012      3   MSFT     27.428
('MSFT', 2012, 4)
         Date  Year  Month Symbol  Adj Close
62 2012-04-02  2012      4   MSFT     27.816
63 2012-04-03  2012      4   MSFT     27.514
64 2012-04-04  2012      4   MSFT     26.885
65 2012-04-05  2012      4   MSFT     27.152
66 2012-04-09  2012      4   MSFT     26.791
('MSFT', 2012, 5)
         Date  Year  Month Symbol  Adj Close
82 2012-05-01  2012      5   MSFT     27.575
83 2012-05-02  2012      5   MSFT     27.394
84 2012-05-03  2012      5   MSFT     27.359
85 2012-05-04  2012      5   MSFT     26.687
86 2012-05-07  2012      5   MSFT     26.403
('MSFT', 2012, 6)
          Date  Year  Month Symbol  Adj Close
104 2012-06-01  2012      6   MSFT     24.669
105 2012-06-04  2012      6   MSFT     24.755
106 2012-06-05  2012      6   MSFT     24.721
107 2012-06-06  2012      6   MSFT     25.449
108 2012-06-07  2012      6   MSFT     25.345
('MSFT', 2012, 7)
          Date  Year  Month Symbol  Adj Close
125 2012-07-02  2012      7   MSFT     26.498
126 2012-07-03  2012      7   MSFT     26.672
127 2012-07-05  2012      7   MSFT     26.620
128 2012-07-06  2012      7   MSFT     26.177
129 2012-07-09  2012      7   MSFT     26.013
('MSFT', 2012, 8)
          Date  Year  Month Symbol  Adj Close
146 2012-08-01  2012      8   MSFT     25.501
147 2012-08-02  2012      8   MSFT     25.310
148 2012-08-03  2012      8   MSFT     25.796
149 2012-08-06  2012      8   MSFT     25.969
150 2012-08-07  2012      8   MSFT     26.238
('MSFT', 2012, 9)
          Date  Year  Month Symbol  Adj Close
169 2012-09-04  2012      9   MSFT     26.525
170 2012-09-05  2012      9   MSFT     26.525
171 2012-09-06  2012      9   MSFT     27.363
172 2012-09-07  2012      9   MSFT     27.014
173 2012-09-10  2012      9   MSFT     26.813
('MSFT', 2012, 10)
          Date  Year  Month Symbol  Adj Close
188 2012-10-01  2012     10   MSFT     25.740
189 2012-10-02  2012     10   MSFT     25.888
190 2012-10-03  2012     10   MSFT     26.063
191 2012-10-04  2012     10   MSFT     26.211
192 2012-10-05  2012     10   MSFT     26.054
('MSFT', 2012, 11)
          Date  Year  Month Symbol  Adj Close
209 2012-11-01  2012     11   MSFT     25.766
210 2012-11-02  2012     11   MSFT     25.749
211 2012-11-05  2012     11   MSFT     25.862
212 2012-11-06  2012     11   MSFT     26.063
213 2012-11-07  2012     11   MSFT     25.382
('MSFT', 2012, 12)
          Date  Year  Month Symbol  Adj Close
230 2012-12-03  2012     12   MSFT     23.259
231 2012-12-04  2012     12   MSFT     23.206
232 2012-12-05  2012     12   MSFT     23.470
233 2012-12-06  2012     12   MSFT     23.523
234 2012-12-07  2012     12   MSFT     23.285

In [185]:
mi = s4g.set_index(['Symbol', 'Year', 'Month'])
mi

                        Date  Adj Close
Symbol Year Month
MSFT   2012 1     2012-01-03     22.910
            1     2012-01-04     23.449
            1     2012-01-05     23.689
            1     2012-01-06     24.057
            1     2012-01-09     23.740
            1     2012-01-10     23.826
...                      ...        ...
AAPL   2012 12    2012-12-20     67.649
            12    2012-12-21     67.338
            12    2012-12-24     67.447
            12    2012-12-26     66.517
            12    2012-12-27     66.785
            12    2012-12-28     66.075

[498 rows x 2 columns]

In [188]:
mig_l12 = mi.groupby(level=['Symbol', 'Year', 'Month'])
print_groups(mig_l12)

('AAPL', 2012, 1)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 1     2012-01-03     52.852
            1     2012-01-04     53.136
            1     2012-01-05     53.726
            1     2012-01-06     54.288
            1     2012-01-09     54.202
('AAPL', 2012, 2)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 2     2012-02-01     58.631
            2     2012-02-02     58.493
            2     2012-02-03     59.079
            2     2012-02-06     59.630
            2     2012-02-07     60.255
('AAPL', 2012, 3)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 3     2012-03-01     69.977
            3     2012-03-02     70.068
            3     2012-03-05     68.523
            3     2012-03-06     68.150
            3     2012-03-07     68.205
('AAPL', 2012, 4)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 4     2012-04-02     79.508
            4     2012-04-03     80.882
            4     2012-04-04     80.238
            4     2012-04-05     81.442
            4     2012-04-09     81.770
('AAPL', 2012, 5)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 5     2012-05-01     74.817
            5     2012-05-02     75.311
            5     2012-05-03     74.777
            5     2012-05-04     72.647
            5     2012-05-07     73.191
('AAPL', 2012, 6)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 6     2012-06-01     72.100
            6     2012-06-04     72.524
            6     2012-06-05     72.336
            6     2012-06-06     73.445
            6     2012-06-07     73.479
('AAPL', 2012, 7)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 7     2012-07-02     76.152
            7     2012-07-03     77.038
            7     2012-07-05     78.391
            7     2012-07-06     77.869
            7     2012-07-09     78.899
('AAPL', 2012, 8)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 8     2012-08-01     77.989
            8     2012-08-02     78.115
            8     2012-08-03     79.131
            8     2012-08-06     80.012
            8     2012-08-07     79.801
('AAPL', 2012, 9)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 9     2012-09-04     87.121
            9     2012-09-05     86.509
            9     2012-09-06     87.289
            9     2012-09-07     87.827
            9     2012-09-10     85.543
('AAPL', 2012, 10)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 10    2012-10-01     85.110
            10    2012-10-02     85.358
            10    2012-10-03     86.667
            10    2012-10-04     86.067
            10    2012-10-05     84.232
('AAPL', 2012, 11)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 11    2012-11-01     76.998
            11    2012-11-02     74.450
            11    2012-11-05     75.459
            11    2012-11-06     75.231
            11    2012-11-07     72.352
('AAPL', 2012, 12)
                        Date  Adj Close
Symbol Year Month
AAPL   2012 12    2012-12-03     76.008
            12    2012-12-04     74.667
            12    2012-12-05     69.861
            12    2012-12-06     70.957
            12    2012-12-07     69.143
('MSFT', 2012, 1)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 1     2012-01-03     22.910
            1     2012-01-04     23.449
            1     2012-01-05     23.689
            1     2012-01-06     24.057
            1     2012-01-09     23.740
('MSFT', 2012, 2)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 2     2012-02-01     25.580
            2     2012-02-02     25.631
            2     2012-02-03     25.879
            2     2012-02-06     25.845
            2     2012-02-07     25.974
('MSFT', 2012, 3)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 3     2012-03-01     27.816
            3     2012-03-02     27.635
            3     2012-03-05     27.394
            3     2012-03-06     27.187
            3     2012-03-07     27.428
('MSFT', 2012, 4)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 4     2012-04-02     27.816
            4     2012-04-03     27.514
            4     2012-04-04     26.885
            4     2012-04-05     27.152
            4     2012-04-09     26.791
('MSFT', 2012, 5)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 5     2012-05-01     27.575
            5     2012-05-02     27.394
            5     2012-05-03     27.359
            5     2012-05-04     26.687
            5     2012-05-07     26.403
('MSFT', 2012, 6)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 6     2012-06-01     24.669
            6     2012-06-04     24.755
            6     2012-06-05     24.721
            6     2012-06-06     25.449
            6     2012-06-07     25.345
('MSFT', 2012, 7)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 7     2012-07-02     26.498
            7     2012-07-03     26.672
            7     2012-07-05     26.620
            7     2012-07-06     26.177
            7     2012-07-09     26.013
('MSFT', 2012, 8)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 8     2012-08-01     25.501
            8     2012-08-02     25.310
            8     2012-08-03     25.796
            8     2012-08-06     25.969
            8     2012-08-07     26.238
('MSFT', 2012, 9)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 9     2012-09-04     26.525
            9     2012-09-05     26.525
            9     2012-09-06     27.363
            9     2012-09-07     27.014
            9     2012-09-10     26.813
('MSFT', 2012, 10)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 10    2012-10-01     25.740
            10    2012-10-02     25.888
            10    2012-10-03     26.063
            10    2012-10-04     26.211
            10    2012-10-05     26.054
('MSFT', 2012, 11)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 11    2012-11-01     25.766
            11    2012-11-02     25.749
            11    2012-11-05     25.862
            11    2012-11-06     26.063
            11    2012-11-07     25.382
('MSFT', 2012, 12)
                        Date  Adj Close
Symbol Year Month
MSFT   2012 12    2012-12-03     23.259
            12    2012-12-04     23.206
            12    2012-12-05     23.470
            12    2012-12-06     23.523
            12    2012-12-07     23.285

### Aggregating

In [201]:
mig_l12.agg(np.mean)

                   Adj Close
Symbol Year Month
AAPL   2012 1         55.082
            2         63.949
            3         74.223
            4         77.885
            5         72.573
            6         73.844
...                      ...
MSFT   2012 7         25.802
            8         26.429
            9         26.868
            10        25.370
            11        24.395
            12        23.742

[24 rows x 1 columns]

In [218]:
s4g.groupby(['Symbol', 'Year', 'Month'], as_index=False).agg(np.mean)

   Symbol  Year  Month  Adj Close
0    AAPL  2012      1     55.082
1    AAPL  2012      2     63.949
2    AAPL  2012      3     74.223
3    AAPL  2012      4     77.885
4    AAPL  2012      5     72.573
5    AAPL  2012      6     73.844
..    ...   ...    ...        ...
18   MSFT  2012      7     25.802
19   MSFT  2012      8     26.429
20   MSFT  2012      9     26.868
21   MSFT  2012     10     25.370
22   MSFT  2012     11     24.395
23   MSFT  2012     12     23.742

[24 rows x 4 columns]

In [221]:
s4g.groupby(['Symbol', 'Year', 'Month']).agg([np.mean, np.std])

                  Adj Close
                       mean    std
Symbol Year Month
AAPL   2012 1        55.082  1.715
            2        63.949  3.405
            3        74.223  3.970
            4        77.885  2.921
            5        72.573  1.899
            6        73.844  0.966
...                     ...    ...
MSFT   2012 7        25.802  0.544
            8        26.429  0.443
            9        26.868  0.404
            10       25.370  0.625
            11       24.395  0.939
            12       23.742  0.342

[24 rows x 2 columns]